gradio[oauth]>=5.25.2
requests
pandas
smolagents[litellm,openai]
ddgs
markdownify
youtube-transcript-api>=1.0.0
huggingface-hub
openpyxl
tabulate
python-dotenv
faster-whisper
openai
pymupdf
pytest
pytesseract
Pillow
arxiv
